* {
  font-weight: 400 !important;
}

.container {
  padding: 0 40px;
}

.vertical-align {
  position: relative;
  top: 45%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.full-height {
  height: 100vh;
}

.center-align {
  text-align: center;
}

.fixed-button {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 80px);
}

.emoji-container span {
  font-size: 2.5em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
